<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>Activiti5流程设计器</title>
</head>
<body>
<a href='/create?name=activiti&key=123456'>新建工作流</a>
<div>
    <table width="100%">
        <tr>
            <td width="10%">模型编号</td>
            <td width="10%">版本</td>
            <td width="20%">模型名称</td>
            <td width="20%">模型key</td>
            <td width="40%">操作</td>
        </tr>
        <tr th:each="model,iterStat:${list}">
            <td width="10%" th:text="${model.id}"/>
            <td width="10%" th:text="${model.version}"/>
            <td width="20%" th:text="${model.name} != null?${model.name}:''"/>
            <td width="20%" th:text="${model.key} != null?${model.key}:''"/>
            <td width="40%">
                <a th:href="@{'/editor?modelId='+${model.id}}">编辑</a>
                <a th:href="@{'/deploy?modelId='+${model.id}}">发布</a>
                <a th:href="@{'/invokeDeploy?modelId='+${model.id}}">撤销</a>
                <a th:href="@{'/deletePI?modelId='+${model.id}}">删除</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>